body 
{
    font-family: JetBrains Mono, monospace;
    margin: 30px;
}
  
#result,
#status 
{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 30px;
}
  
button 
{
    padding: 10px 20px;
    cursor: pointer;
}
  