body 
{
    font-family: JetBrains Mono, monospace;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container 
{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box; 
    text-align: center;
}

h2 
{
    margin-bottom: 20px;
}

.form-group 
{
    margin-bottom: 20px;
    text-align: left;
}

label 
{
    display: block;
    font-weight: bold;
}

input, textarea 
{
    width: calc(100% - 16px); 
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; 
}

textarea 
{
    height: 100px;
    resize: none;
}

button 
{
    width: 100%;
    max-width: 300px;
    background: #000000;
    color: white;
    border: none;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

button:hover 
{
    background: #2d302d;
}

.error 
{
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

.success 
{
    color: green;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
